import:
- logstash-plugins/.ci:travis/travis.yml@1.x

jobs:
  exclude: # enterprise search will be eol in 9.0 so excluding main testing
    - env: SNAPSHOT=true ELASTIC_STACK_VERSION=main DOCKER_ENV=dockerjdk21.env
    - env: SNAPSHOT=true ELASTIC_STACK_VERSION=9.previous DOCKER_ENV=dockerjdk21.env
    - env: SNAPSHOT=true ELASTIC_STACK_VERSION=9.current DOCKER_ENV=dockerjdk21.env
    - env: SNAPSHOT=true ELASTIC_STACK_VERSION=9.next DOCKER_ENV=dockerjdk21.env
    - env: ELASTIC_STACK_VERSION=9.previous DOCKER_ENV=dockerjdk21.env
    - env: ELASTIC_STACK_VERSION=9.current DOCKER_ENV=dockerjdk21.env
    - env: ELASTIC_STACK_VERSION=9.next DOCKER_ENV=dockerjdk21.env
  include:
    - stage: "Integration Tests"
    - env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env ELASTIC_STACK_VERSION=8.previous  
    - env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env ELASTIC_STACK_VERSION=8.current
    - env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env SNAPSHOT=true ELASTIC_STACK_VERSION=8.previous
    - env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env SNAPSHOT=true ELASTIC_STACK_VERSION=8.current
    - env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env SNAPSHOT=true ELASTIC_STACK_VERSION=8.next
    - env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env SNAPSHOT=true ELASTIC_STACK_VERSION=8.future
    #- env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env SNAPSHOT=true ELASTIC_STACK_VERSION=main
    - stage: "Secure Integration Tests"
    - env: SECURE_INTEGRATION=true DISTRIBUTION=default ELASTIC_STACK_VERSION=8.current 
    - env: SECURE_INTEGRATION=true DISTRIBUTION=default ELASTIC_STACK_VERSION=8.current SNAPSHOT=true 
